#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:10px;
    background-color: black;
}

#navbar h2 {
    color: white;
    margin-left: 10px;
    text-decoration: none;
    user-select: none;
}

#navigation {
    position: absolute;
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: 20px;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
}