#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:10px;
    background-color: black;
}

#navbar h2 {
    color: white;
    margin-left: 10px;
    text-decoration: none;
    user-select: none;
}

#navigation {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    margin-left: 50px;
}

#navigation span {
    font-size: 20px;
    font-weight: bold;
    color: lightgray;
    cursor: pointer;
    transition: 0.3s;
}

#navigation span :hover {
    color: limegreen;
    transform: scale(1.05);
}