#footer {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    background-color: #87CEEB;
}

#config {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    justify-content: middle;
}
