#footer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#config {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    justify-content: middle;
}
