#barWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    height: 50%;
}

#main {
    display: relative;
    background-color: gray;
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}