.bar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
    height: 100%;
    width: auto;
    padding: 20px;
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    box-sizing: border-box;
    transition: 0.1s;
    border-radius: 8px;
}

.bar::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}
.bar::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
}
.bar::-webkit-scrollbar-thumb:hover{
    background: #666666;
}
.bar::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 8px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

.bar :hover {
    z-index: 100;
    transform: scale(1.05);
    cursor: pointer;
}

.element {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    min-width: 50px;
    width: 50px;    
    transition: 0.5s;
    height: 0%;
}

.element h2 {
    font-weight: bold;
    color: gray;
}